<?xml version="1.0" encoding="UTF-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="googlestorelocator_storelocator_listing_data_source" xsi:type="string">Magepow\StoreLocator\Model\ResourceModel\StoreLocator\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="googlestorelocator_workingtime_listing_data_source" xsi:type="string">Magepow\StoreLocator\Model\ResourceModel\WorkingTime\Grid\Collection</item>
            </argument>
        </arguments>
    </type>

    <type name="Magepow\StoreLocator\Controller\Adminhtml\StoreLocator\Image\Upload">
        <arguments>
            <argument name="imageUploader" xsi:type="object">Magepow\StoreLocator\StoreLocatorImageUpload</argument>
        </arguments>
    </type>
    <virtualType name="Magepow\StoreLocator\StoreLocatorImageUpload" type="Magento\Catalog\Model\ImageUploader">
        <arguments>
            <argument name="baseTmpPath" xsi:type="string">storelocator/tmp/images</argument>
            <argument name="basePath" xsi:type="string">storelocator/images</argument>
            <argument name="allowedExtensions" xsi:type="array">
                <item name="jpg" xsi:type="string">jpg</item>
                <item name="jpeg" xsi:type="string">jpeg</item>
                <item name="gif" xsi:type="string">gif</item>
                <item name="png" xsi:type="string">png</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Magepow\StoreLocator\Model\ResourceModel\StoreLocator\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">google_store</argument>
            <argument name="resourceModel" xsi:type="string">Magepow\StoreLocator\Model\ResourceModel\StoreLocator</argument>
        </arguments>
    </virtualType>
    <virtualType name="Magepow\StoreLocator\Model\ResourceModel\WorkingTime\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">working_time</argument>
            <argument name="resourceModel" xsi:type="string">Magepow\StoreLocator\Model\ResourceModel\WorkingTime</argument>
        </arguments>
    </virtualType>
</config>
